<div class="posts list-group flex-column">
 
  {{#each posts as |post|}}
    <a href="/dashboard/edit/{{post.id}}">
    <div class="card-header flex-row justify-space-between">
      <div class="align-items-center">
        <h2>{{post.title}}</h2> 
      </div>
      <div class="username">
        <p class="small">Posted by {{post.User.username}} at {{ format_date post.createdAt}}</p>
      </div>
    </div>
    </a>
  {{/each}}

</div>