<div class="post card">
 
<form id="newPost">
      <label>Post Title</label>
      <input type="text" id="postTitle">
      <label>Content</label><br>
      {{!-- <input type="text" id="postBody"> --}}
      <textarea id="postBody" cols="10" rows="6"></textarea>
      <button class="btn" id="updateBtn">Update</button>
      <button class="btn" id="deleteBtn">Delete</button>
      <button class="btn" id="cancelBtn">Cancel</button>
  </form>

</div>

<script src="/js/edit.js"></script>