<div class="post card">
  <form id="newPost">
      <label>Post Title</label>
      <input type="text" id="postTitle">
      <label>Content</label><br>
      {{!-- <input type="text" id="postBody"> --}}
      <textarea id="postBody" cols="10" rows="6"></textarea>
      <button class="btn" id="submit">Post</button>
  </form>
</div>

<script src="/js/new.js"></script>